:root {
  --bgc: #17161b; /* Declare root variable for background color */
}
* {
  box-sizing: border-box; /* box-sizing used to ensure elements fit in container */
}
.container {
  background-color: var(--bgc); /* Use root variable as background color */
}
#intro {
  background-color: #17161b; /* Assign background color */
  display: flex; /* Flexbox property used to arrange child elements in a row */
  padding: 5px 0px 20px 0px; /* Assign padding */
  margin-bottom: 30px; /* Assign margin */
  overflow: hidden; /* Make sure element doesn't extend outside container */
}
#intro img {
  height: 110%; /* Height of image */
  aspect-ratio: 1; /* Keep image in correct aspect ratio */
  object-fit: cover; /* Make sure image covers container */
  border-radius: 50%; /* Round corners of image */
  border: 14px solid var(--bgc); /* Add border to image */
  margin: 0px 0px 0px 10px; /* Assign margin */
}
#intro div {
  text-align: center; /* Center text */
  font-size: 20px; /* Assign font size */
  font-weight: 600; /* Assign font weight */
  font-style: normal; /* Set font style to normal */
}
.top {
  background-color: #7c736a; /* Assign background color */
}
#white h2 {
  text-align: center;
}
#white h2:nth-of-type(2) {
  margin-bottom: 2px;
}
p {
  font-size: 15px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
}
li {
  font-size: 15px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}
h2 {
  font-size: 17px;
  font-weight: 550;
}
h3 {
  font-size: 15px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0;
}
ul {
  padding: 0;
  margin-top: 0;
}

#add-skill + ul li {
  position: relative;
  width: 100%;
  max-width: 350px;
}
#add-skill + ul li span,
#add-skill + ul li span::before {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#add-skill + ul li span {
  height: 7px;
  width: 70px;
  background-color: lightgrey;
  display: block;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

#add-skill + ul li span::before {
  content: "";
  width: var(--percentage);
  height: 100%;
  display: block;
  background-color: #c8b392;
}
#add-skill + ul li span::after {
  content: attr(data-val);
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translate(100%, -50%);
}

#dark {
  margin-top: 30px;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

#dark h2 {
  margin-left: 0;
  width: 60%;
  color: #17161b;
  padding: 9px 2px 9px 15%;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #dcdde4;
}
#dark p {
  margin: 1px 1px 1px 10px;
  padding: 7px;
}
#dark li {
  margin: 1px 1px 1px 10px;
}
#dark h4 {
  margin: 1px 1px 1px 10px;
  font-weight: 400;
}
#dark h3 {
  margin: 1px 1px 1px 10px;
}
@media (min-width: 800px) {
  main {
    display: flex;
    border: #272727 solid 3px;
    height: 1080px;
  }
  #dark {
    width: 60%;
  }
  #white {
    border-top-right-radius: 20px;
    width: 45%;
  }
}
